<web-app>  
  
<servlet>  
<servlet-name>Login1</servlet-name>  
<servlet-class>Login</servlet-class>  
</servlet>

<servlet-mapping>  
<servlet-name>Login1</servlet-name>  
<url-pattern>/login</url-pattern>  
</servlet-mapping>

<servlet>  
<servlet-name>SignUp1</servlet-name>  
<servlet-class>SignUp</servlet-class>  
</servlet>  
 
<servlet-mapping>  
<servlet-name>SignUp1</servlet-name>  
<url-pattern>/signup</url-pattern>  
</servlet-mapping>

<servlet>  
<servlet-name>NewAccount1</servlet-name>  
<servlet-class>NewAccount</servlet-class>  
</servlet>  
 
<servlet-mapping>  
<servlet-name>NewAccount1</servlet-name>  
<url-pattern>/newaccount</url-pattern>  
</servlet-mapping>

<servlet>  
<servlet-name>CheckBalance1</servlet-name>  
<servlet-class>CheckBalance</servlet-class>  
</servlet>

<servlet-mapping>  
<servlet-name>CheckBalance1</servlet-name>  
<url-pattern>/checkbalance</url-pattern>  
</servlet-mapping>

<servlet>  
<servlet-name>Credit1</servlet-name>  
<servlet-class>Credit</servlet-class>  
</servlet>

<servlet-mapping>  
<servlet-name>Credit1</servlet-name>  
<url-pattern>/credit</url-pattern>  
</servlet-mapping>

<servlet>  
<servlet-name>Debit1</servlet-name>  
<servlet-class>Debit</servlet-class>  
</servlet>

<servlet-mapping>  
<servlet-name>Debit1</servlet-name>  
<url-pattern>/debit</url-pattern>  
</servlet-mapping>

<servlet>  
<servlet-name>Transfer1</servlet-name>  
<servlet-class>Transfer</servlet-class>  
</servlet>

<servlet-mapping>  
<servlet-name>Transfer1</servlet-name>  
<url-pattern>/transfer</url-pattern>  
</servlet-mapping>

<servlet>  
<servlet-name>ChangePassword1</servlet-name>  
<servlet-class>ChangePassword</servlet-class>  
</servlet>

<servlet-mapping>  
<servlet-name>ChangePassword1</servlet-name>  
<url-pattern>/changepassword</url-pattern>  
</servlet-mapping>

<servlet>  
<servlet-name>Logout1</servlet-name>  
<servlet-class>Logout</servlet-class>  
</servlet>

<servlet-mapping>  
<servlet-name>Logout1</servlet-name>  
<url-pattern>/logout</url-pattern>  
</servlet-mapping>

<servlet>  
<servlet-name>TransactionHistory1</servlet-name>  
<servlet-class>TransactionHistory</servlet-class>  
</servlet>

<servlet-mapping>  
<servlet-name>TransactionHistory1</servlet-name>  
<url-pattern>/transactionhistory</url-pattern>  
</servlet-mapping>

<servlet>  
<servlet-name>ChangePassword(admin)1</servlet-name>  
<servlet-class>ChangePasswordadmin</servlet-class>  
</servlet>

<servlet-mapping>  
<servlet-name>ChangePassword(admin)1</servlet-name>  
<url-pattern>/changepasswordadmin</url-pattern>  
</servlet-mapping>

<servlet>  
<servlet-name>AccountDetails1</servlet-name>  
<servlet-class>AccountDetails</servlet-class>  
</servlet>

<servlet-mapping>  
<servlet-name>AccountDetails1</servlet-name>  
<url-pattern>/accountdetails</url-pattern>  
</servlet-mapping>

<listener>
<listener-class>MyListener</listener-class>
</listener>

<welcome-file-list>
<welcome-file>BS_page1.html</welcome-file>
</welcome-file-list>  
  
</web-app>  